header {
    background-color: #a4f6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    /* background-color: #D4D1E8; */
}







/* MAIN LOGO */


.headericons {
    text-align: center;
}


.homepagemain {
    text-align: center;


}

.homepage-model {
    width: 40%;
    margin-left: 11%;


}

.homepage-text {
    display: inline-block;
    text-align: left;


}

#homepage span {
    font-family: 'allura';
    font-size: 4rem;
}

#homepage h2 {
    font-size: 2rem;
}

button a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

button a:hover {
    color: white;
}


.container-fluid {
    padding: 7% 15%;
}


.navbar-brand {
    width: 10%;
}

.nav-logo {
    width: 5rem;
}

.main-logo {
    width: 50%;
    display: block;
    margin: 10% auto;
    border-radius: 50%;
    border: 2px solid #2e2e2e;

}

.title-text {
    font-family: 'allura';
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    padding-top: 5%;
    color: #2e2e2e;
}

.aboutme-text {
    text-align: center;
    padding: 10%;
    margin-top: 25px;
    color: #2e2e2e;
    position: relative;
    top: 30%;
}


/* WORK SECTION */

img {
    width: 100%;
}

.masonry {
    /*column-count: 4;*/
    column-count: 4;
    column-gap: 16px;
    padding-top: 5%;
}

.masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}

@media (max-width: 1199px) {
    .masonry {
        column-count: 3;
    }
}

@media (max-width: 991px) {
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .masonry {
        column-count: 1;
    }
}





.carousel-inner>.carousel-item>img {
    width: auto;
    height: 600px;
}


.image-grid {
    display: grid;
    width: 75%;
    margin: 50px auto;
    grid-template-rows: repeat(3, 190px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.content {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    transition: .3s;
}

.content:hover .grid-image {
    transform: scale(1.2);
    cursor: pointer;
}

.content>img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.content:nth-child(1) {
    grid-row: 1/3;
}

.content:nth-child(3) {
    grid-column: 3/5;
}

.content:nth-child(5) {
    grid-row: 2/4;
    grid-column: 3/4;
}

.content:nth-child(7) {
    grid-column: 1/3;
}

.service-row {
    padding-top: 5%;
}

.service-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .2s;
}

.service-image:hover {
    transform: translateY(-10px);
}

.service-title,
.service-text {
    text-align: center;
    padding: 5% 10% 0 10%;
    color: #2e2e2e;
}

.btn-secondary {
    color: black;
    background-color: #ff99fe;
    border: none;
    transition: .3s;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15)
}

.btn-secondary:hover {
    background-color: #ffc1fe;
    color: black;
}

.btn-secondary:focus {
    background-color: #ffc1fe;
    color: black;
}



.elem-center {
    text-align: center
}

.col-align {
    padding-top: 7%;
}



.appoint-text {
    text-align: center;
    font-size: 1.2rem;
    color: #2e2e2e;
    padding-top: 5%;
    padding-bottom: 10%;
}

hr {
    width: 10%;
    margin: 0 auto;

}

.bookme-btncenter {
    text-align: center;
}

.bookus-btn {
    text-align: center;
    font-size: 18px;

}


.form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5% 0;
    border: 1px;
    padding: 20px;
    background: #f1f1f1;
    color: #2e2e2e;


}

.form-text:focus {
    outline: 0 none;
}

.form-btn {
    float: right;
    padding: 8px 30px;
    background-color: #ff99fe;
    color: #2e2e2e;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    bottom: 1em;
    border: none;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15)
}

.form-btn:hover {
    background-color: #ffc1fe;
}

.social-icon {
    font-size: 1.5rem;
    padding: 0px 5px;
    cursor: pointer;
    color: #2e2e2e;
    transition: .2s;
}

.social-icon:hover {
    color: #2e2e2e;
}

.copyright-text {
    font-size: .7rem;
    color: #2e2e2e;
    margin: auto;
    padding: 5px 0;

}


.faqs {
    text-align: center;
    padding-top: 5%;
}


.btnpaddingtop {
    margin-top: 4%;

}

.accordion-button {
    padding: 3% 0;
    text-align: left;
}

/* IDS */

#homepage {
    background-color: #a4f6f9;
}

#title {
    background-color: #a4f6f9;
}

#storypage {
    background-color: #e4fffe;
    padding: 7% 0%;
}

#our-work {
    padding: 7% 15%;
    background-color: #a4f6f9;
}

#appointment {
    padding: 7% 15%;
    background-color: #e4fffe;
}

#contact-me {
    background-color: #a4f6f9;
    margin: auto;
    padding: 7% 15%;
    overflow: hidden;
}

#copyright {
    background-color: #a4f6f9;
    text-align: center;
}

#faqpage {
    padding: 7% 15%;
    background-color: #e4fffe;
}





/* FOOTER SECTION */

footer {
    background-color: #a4f6f9;
    padding: 30px 0;
}

footer ul {
    list-style: none;
    padding-left: 0%;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    padding: 0% 15%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    /* padding: 0 15px; */
    width: 25%;
    text-decoration: none;
}

.footer-col h4 {
    position: relative;

}


.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2e2e2e;
    height: 2px;
    box-sizing: border-box;
    width: 35px;
}

.footer-col ul .footer-links {
    margin-bottom: 10px;
    transition: .2s all ease-in;
    font-size: 1.1rem;
}

.footer-col ul .footer-links:hover {
    padding-left: 8px;

}

.footer-col ul li a {
    text-decoration: none;
    color: #2e2e2e;
    cursor: pointer;
}

.footer-soc {
    font-size: 2rem;
    margin-right: 20px;
    color: #2e2e2e;
    transition: .2s all ease-in;
}

.footer-soc:hover {
    color: #5f5f5f;
}

.loc {
    font-size: 1.1rem;
}


.map-pin {
    float: left;
    padding-right: 5px;
}





/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

    .aboutme-text {
        position: relative;
        top: 18%;
    }



}

@media screen and (max-width: 990px) {
    .navbar-nav {
        margin-left: 0;
    }

    .homepage-text {
        position: relative;
        left: 90px;
        top: 40px;
    }

    .homepage-model {
        width: 50%;
    }

    .aboutme-text {
        position: relative;
        top: 2%;
    }



}

@media screen and (max-width: 731px) {
    .navbar-nav {
        margin-left: 0;
    }

    .homepage-text {
        position: relative;
        left: 90px;
        top: 40px;
    }

    .homepage-model {
        width: 40%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }



}

@media(max-width: 695px ) {
      .footer-col {
          width: 100%;
          margin-bottom: 30px;
      }

}

@media screen and (max-width: 600px) {
    .col-align {
        padding-top: 18%;
    }

    #homepage h2 {
        font-size: 20px;
    }

    #homepage span {
        font-size: 40px;
    }

    .homepage-text {
        position: relative;
        left: 45px;
        top: 40px;
    }

    .homepage-model {
        width: 50%;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (width : 375px) and (height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
    .homepage-text {
        position: relative;

    }

    .homepage-model {
        margin: 0;
        width: 45%;
        position: relative;
        right: 20px;
    }

    #homepage h2 {
        margin: 0;
    }

    .homepage-text {
        width: 200px;
        height: 168px;
    }
}

@media only screen and (width : 414px) and (height : 736px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
    .homepage-text {
        position: relative;

    }

    .homepage-model {
        margin: 0;
        width: 45%;
        position: relative;
        right: 20px;
    }

    #homepage h2 {
        margin: 0;
    }

    .homepage-text {
        width: 200px;
        height: 168px;
    }
}

@media only screen and (width : 375px) and (height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
    .homepage-text {
        position: relative;

    }

    .homepage-model {
        margin: 0;
        width: 45%;
        position: relative;
        right: 20px;
    }

    #homepage h2 {
        margin: 0;
    }

    .homepage-text {
        width: 200px;
        height: 168px;
    }
}

@media only screen and (width : 601px) and (height : 651px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
    .homepage-text {
        position: relative;

    }

    #homepage h2 {
        margin: 0;
        font-size: 1rem;
    }

    #homepage span {
        font-size: 2.5rem;
    }

    .homepage-text {
        position: relative;
        left: 60px;
    }

}

@media screen and (max-width: 461px) {
    .navbar-nav {
        margin-left: 0;
    }

    .homepage-text {
        position: relative;
        left: 50px;
        top: 40px;
    }

    .homepage-model {
        width: 40%;
    }



}

@media screen and (max-width: 367px) {
    .navbar-nav {
        margin-left: 0;
    }

    .homepage-text {
        position: relative;
        left: 40px;
        top: 20px;
    }

    .homepage-model {
        width: 40%;
    }

    #homepage h2 {
        font-size: 15px;
    }

    #homepage span {
        font-size: 35px;
    }

    #homepage button {
        font-size: 15px;
    }
}


@media screen and (max-width: 305px) {
    .navbar-nav {
        margin-left: 0;
    }

    .homepage-text {
        position: relative;
        left: 25px;
        top: 0px;
    }

    .homepage-model {
        width: 40%;
    }

    #homepage h2 {
        font-size: 10px;
    }

    #homepage span {
        font-size: 20px;
    }

    #homepage button {
        font-size: 10px;
    }



}